* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f8ff;
}

.input-box-wrapper{
  position: relative;
}
.box{
  position: relative;
  display: inline;
  align-items: center;
  margin:1em;
  /* border: 2px solid black; */
  
  /* border: 1px solid red; */
}
h1{
  margin:0 1.5em;
}
.dropDown {
  position: relative;
  display: grid;
}
.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width:auto;
  /* overflow: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 5px;
  border: 2px solid black;
  border-radius: 1px;
}
.dropbtn{
  padding: 1em 2em;
  margin-bottom: 1px;
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

.show {display: block;}


.wrapper {
  width: 95%;
  margin: 0 auto;
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #1d0ec2;
}

.button-value {
  border: 2px solid #1d0ec2;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #1d0ec2;
  cursor: pointer;
}
.active {
  background-color: #1d0ec2;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 1.5em;
  padding: 2em 0;
}
.card {
  background-color: #91a6c5;
  width: 50%;
  min-width: 180px;
  margin-top: 1em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 5px;
  display: inline;
  /* box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08); */
}
.image-container {
  text-align: left;
}
img {
  width: 150px;
  object-fit: contain;
  height: 8em;
  padding-left: 5px;
  padding-right: 5px;
  /* border: 2px solid red; */
}
.container {
  padding-top: 1em;
  color: #110f29;
  
}
/* .container a{
  /* border: 1px solid red; */
/* } */ 

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}
